@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/webfonts/cmuserif_roman_macroman/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/webfonts/cmuserif_bold_macroman/cmunbx-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/webfonts/cmuserif_boldoblique_macroman/cmunbi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/webfonts/cmutypewritertext_roman_macroman/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/webfonts/cmutypewritertext_bold_macroman/cmuntb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/webfonts/cmutypewritertext_oblique_macroman/cmunit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/webfonts/cmutypewritertext_boldoblique_macroman/cmuntx-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Computer Modern Serif';
}

code, pre {
    font-family: 'Computer Modern Typewriter', monospace;
}

:lang(ja) {
    font-family: 'Computer Modern Serif',
                 'Noto Sans CJK JP',
                 'Hiragino Kaku Gothic ProN',
                 'Yu Gothic',
                 'Meiryo';
}

:lang(zh-Hans) {
    font-family: 'Computer Modern Serif',
                 'Noto Sans CJK SC',
                 'PingFang SC',
                 'Microsoft YaHei';
}

:lang(zh-Hant) {
    font-family: 'Computer Modern Serif',
                 'Noto Sans CJK TC',
                 'PingFang TC',
                 'Microsoft JhengHei';
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}